:root {
    --main-color: #e0001e;
}

* {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
    background: #141414;
    position: sticky;
    top: 0px;
    z-index: 1;
    backdrop-filter: blur(10px);
}

@media (max-width:629px) {
    #logo {
        display: none;
    }
}

#logo img {
    width: 50px;
    height: 50px;
    margin: 20px;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    list-style: none;
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    font-size: 1em;
    position: relative;
}

a:after {
    bottom: 0;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 80%;
    left: 10%;
    right: 10%;
}

#home {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    justify-content: center;
    height: 500px;
    align-items: center;
    background: url(../Assets/bg2.jpg) no-repeat center center/cover;
    backdrop-filter: invert(1);
}

#home::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: -2;
}

#home::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: -1;
    background: linear-gradient( 359deg, #000000e3, transparent);
}

#home #head-top {
    font-size: 4em;
    color: white;
    font-family: 'Poppins';
    font-weight: bold;
    padding: 10px;
    text-align: center;
    align-items: center;
}

#home #head-top-p {
    font-size: 2em;
    font-family: 'Poppins';
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

#home #order {
    padding: 13px 31px;
    background: #4aad00;
    font-family: 'Poppins';
    font-size: 2rem;
    border: 2px solid;
    color: white;
    width: fit-content;
    margin-top: 3rem;
    border-radius: 55px;
}

#home #order:hover {
    background: #5bd100;
    transform: translateY(-3px);
    box-shadow: 7px 7px 18px #5bd1005d;
}

#services-h {
    font-family: poppins;
    font-size: 2em;
    text-align: center;
    margin: 20px;
}

.services {
    display: flex;
    padding: 10px;
    margin: 10px;
}

.service-item {
    padding: 20px;
    margin: 20px;
    box-shadow: 7px 7px 39px #bcc5c9cc;
}

.services h1 {
    font-family: poppins;
    font-size: 1em;
    padding: 5px;
}

.services p {
    font-family: poppins;
    font-size: .8rem;
    padding: 5px;
}